<div class="container">
    <h1>Create New Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="title">Title:</label>
            <input 
                formControlName="title"
                id="title" 
                type="text" 
                class="form-control">
            <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="alert alert-danger">
                <div *ngIf="form.get('title')?.errors?.['required']">Title is mandatory.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="body">Body</label>
            <textarea 
                formControlName="body"
                id="body" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="form.get('body')?.touched && form.get('body')?.invalid" class="alert alert-danger">
                <div *ngIf="form.get('body')?.errors?.['required']">Body is mandatory.</div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
       <!-- Custom confirmation dialog -->
<div class="overlay" *ngIf="isDialogVisible">
    <div class="dialog-box">
      <p>You have unsaved changes. Are you sure you want to leave?</p>
      <div class="dialog-buttons">
        <button class="cancel-btn" (click)="Confirm()" >yes</button>
        <button class="confirm-btn" (click)="onCancel()">no</button>
      </div>
    </div>
  </div>
</div>